@{
    ViewBag.Title = "About";
}
<h2>About.</h2>
<p>Nothing to see here.</p>
<h2>Contacts.</h2>
<p>E-mail:<a href="mailto:boulevardoffakes@gmail.com">boulevardoffakes@gmail.com</a></p>
<p><a href="https://vk.com/id87445782">VK</a></p>
<p><a href="https://telegram.me/saylala">Telegram</a></p>