@{
    ViewBag.Title = "Gallery";
}

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="/Images/City.jpg" alt="Lights">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="/Images/Galaxy.jpg" alt="Lights">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="/Images/Lake.jpg" alt="Lights">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="/Images/Planet.jpg" alt="Lights">
            </div>
        </div>
    </div>
</div>
