@{
    ViewBag.Title = "Gallery";
}

<div class="gallery">
    <img src="/Images/City.jpg" alt="">
    <img src="/Images/Galaxy.jpg" alt="">
    <img src="/Images/Lake.jpg" alt="">
    <img src="/Images/Planet.jpg" alt="">
    <img src="/Images/Planet.jpg" alt="">
    <img src="/Images/Lake.jpg" alt="">
    <img src="/Images/Galaxy.jpg" alt="">
    <img src="/Images/City.jpg" alt="">
    <img src="/Images/City.jpg" alt="">
    <img src="/Images/Galaxy.jpg" alt="">
    <img src="/Images/Galaxy.jpg" alt="">
</div>