@{
    ViewBag.Title = "Home";
}

@Styles.Render("~/Styles/font-awesome")

<div class="container home">
    <h2>About.</h2>
    <div class="img-thumbnail img-float-left">
        <img src="/Images/Photo.jpg" alt="">
        <div class="description">A picture for ants</div>
    </div>
    <p>Hi there. My name is Michael Vostretsov and this is my small Web Project for university Web course.</p>
    <p>You can use this to contact me(don't):</p>
    <a href="mailto:boulevardoffakes@gmail.com" class="fa fa-envelope"></a>
    <a href="https://vk.com/id87445782" class="fa fa-vk"></a>
    <a href="https://telegram.me/saylala" class="fa fa-telegram"></a>
    <a href="https://github.com/Saylala" class="fa fa-github"></a>
</div>