body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-size: 14px;
}

a {
    text-decoration: none;
}

.content {
    margin: 0;
    font-size: 20px;
    padding: 0;
}

.content > .photo-container {
    float: left;
    margin: 0 10px 10px 0;
    border: 2px solid #bfbfbf;
}

.content > .photo-container > .description {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.content > .media > a {
    margin: 5px;
}

.positioner {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 768px) {
    .positioner {
        width: 95%;
    }
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

* html .wrapper {
    height: 100%;
}

.buffer {
    height: 50px;
}

hr {
    width: 80%;
    border: 0;
    border-top: 1px solid #e6e6e6;
}

.footer {
    text-align: center;
    clear: both;
}