html {
    position: relative;
    min-height: 100%;
}

#background {
    background-size: cover;
}

input,
select,
textarea {
    max-width: 280px;
}

body {
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer p {
    margin: 10px 0 0 0;
}

.home {
    font-size: 20px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.counters {
    height: 55px;
}

.digits {
    height: 53px;
    width: 33px;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    padding: 0;
}

@media (min-width: 2560px) {
    body {
        margin-bottom: 70px;
        font-size: 35px;
    }

    .footer {
        height: 70px;
    }

    .home {
        font-size: inherit;
    }

    .headline {
        font-size: inherit;
    }

    .caption {
        display: none;
    }
}

@media (min-width: 3440px) {
    body {
        margin-bottom: 100px;
        font-size: 50px;
    }

    .footer {
        height: 100px;
    }
}

.home > h2 {
    margin-top: 0;
}

.img-float-left {
    float: left;
    margin: 0 10px 10px 0;
}

@media (max-width: 720px) {
    .img-float-left {
        width: 45%;
    }
}

@media (max-width: 350px) {
    .img-float-left {
        float: none;
        width: 100%;
        text-align: center;
    }
}

.img-float-left .description {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none !important;
    color: #FFF;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    color: #FFF;
}

.fa-envelope {
    background: #DD4B39;
}

.fa-vk {
    background: #587EA3;
}

.fa-telegram {
    background: #2CA3DC;
}

.fa-github {
    background: #171515;
}