html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

hr {
    margin: 0;
}

.home {
    font-size: 20px;
}

.home > h2 {
    margin-top: 0;
}

.img-float-left {
    float: left;
    margin: 0 10px 10px 0;
}

.img-float-left .description {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none !important;
    color: white;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

.fa-envelope {
    background: #DD4B39;
}

.fa-vk {
    background: #587EA3;
}

.fa-telegram {
    background: #2CA3DC;
}

.fa-github {
    background: #171515;
}