#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    /*IE8*/
    filter: alpha(opacity=80);
    z-index: 9999;
}

#gallery-help,
#image-large {
    position: fixed;
    max-width: 95%;
    max-height: 95%;
    z-index: 10001;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 480px) {
    #gallery-help {
        width: 90%;
    }
}

#loading {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #999999;
    animation: spin 2s linear infinite;
}

.margin-bottom {
    margin: 0 0 10px 0;
}

.gallery-item:hover {
    opacity: 0.7;
    /*IE8*/
    filter: alpha(opacity=70);
    cursor: pointer;
}

.gallery-button {
    position: fixed;
    right: 0;
    width: 30px;
    z-index: 10002;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.modal-header > .fa {
    color: inherit;
}

.close-button {
    top: 10px;
    right: 2%;
}

.next-button {
    top: 50%;
    right: 2%;
}

.previous-button {
    top: 50%;
    left: 2%;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
