#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
    z-index: 9999;
}

#image-large {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    z-index: 10000;
}

.gallery-item {
    margin-bottom: 10px;    
}
.gallery-button {
    position: fixed;
    right: 0;
    z-index: 10001;
    cursor: pointer;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.close-button {
    top: 20px;
    right: 2%;
    width: 30px;
    height: 30px;
}

.next-button {
    top: 50%;
    right: 2%;
}

.previous-button {
    top: 50%;
    left: 2%;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10000;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #999999;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
