@using WebApplication.Models;
@using Newtonsoft.Json
@model GalleryModel

@{
    ViewBag.Title = "Gallery";
}

@Styles.Render("~/Styles/gallery")
@Scripts.Render("~/Scripts/gallery")
<script type="text/javascript">
    initGallery(@Html.Raw(JsonConvert.SerializeObject(Model)));
</script>

<div class="row text-center">
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/1_thumbnail.jpg" alt="">
    </div>
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/2_thumbnail.jpg" alt="">
    </div>
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/3_thumbnail.jpg" alt="">
    </div>
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/4_thumbnail.jpg" alt="">
    </div>
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/5_thumbnail.jpg" alt="">
    </div>
    <div class="margin-bottom col-md-4 col-sm-6">
        <img class="gallery-item img-thumbnail" src="/Images/6_thumbnail.jpg" alt="">
    </div>
</div>
